<!doctype html>
<title>AI Powered Calculator!</title>
<div class=page>
  <h1>bad-calculator</h1>
  <form id='numbers' method="post">
    Pick two Numbers
    <br>
    <input type="text" name="number1" value="{{n1}}" size="2" maxlength="2"> 
    + 
    <input type="text" name="number2" value="{{n2}}" size="2" maxlength="2">
    <br>
    Pick a model to compute the sum
    <br>
    <input type='submit' name="submit" value='go' /> 
    <br>
    And your sum is:
    <br>
    <input type="text" name="sum" value="{{sum}}" size="17" readonly>
  </form>
</div>
